html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

html,
body {
 min-height: 100%;
 position: relative;
}

body {
 font-size: 8px;
 @include mon-semi;
 line-height: 1.4;
 color: #1A1C32;
 background-color: #FFFFFF;
}

h2,h3{
 color: #1A1C32;
}
p{
 color:#828282;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
}

li {
 list-style-type: none;
}



.sr-only {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 border: 0;
}

.container {
 max-width:600px;
 width: 100%;
 margin: 0 auto;
 padding: 0 20px;
}

